.homepage {
  align-items: center;
  background-color: #44d;
  background-image: url("./mcaewaTesselate.png");
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

