.homepage {
  align-items: center;
  background-color: #44d;
  background-image: url("./mcaewaTesselate.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  position: relative;
}

