.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20vh 15vw;
  width: 100vw;
}

.cardWrapper {
  border-radius: 1rem;
  margin: 4rem 4rem 0 4rem;
  overflow: hidden;
  width: 350px;
}

.siteCard {
  background-color: red;
}
